[[hooks]]
stage = "build"
command = "sh"
command_arguments = ["-c", "echo Building Squad Planner frontend..."]

[build]
target = "index.html"
dist = "dist"

[watch]
ignore = ["dist"]

[serve]
address = "127.0.0.1"
port = 8081
open = false
